[2020-11-18 07:07] taymonbeal opened #1 "Zoom slider should take effect on drag, not on button release"

[2020-11-30 06:07] Raemon opened #15 "Slide-changing still doesn't work for Ray"
When I change slides as a lead, I have to refresh the page to see a new slide.

[2020-11-30 06:34] Raemon opened #17 "Trivia doesn't work for Ray (at least locally)"
If this turns out to be annoying to fix, it's not a high priority. I'm not even sure I want to use Trivia. But, if it were cheap to fix I'd want to be able to experiment with it.

[2020-11-30 07:51] dspeyer commented on #17
Short of "Be Ray", any idea how to duplicate?

On Mon, Nov 30, 2020 at 1:35 AM Raemon <notifications@github.com> wrote:

[2020-11-30 07:55] taymonbeal opened #18 "Create mail forwarding alias from secularsolstice.com or secularsolstice2020.org"
Needed for Intercom.

[2020-11-30 07:55] taymonbeal opened #19 "Set up Intercom"
Blocked by: #18

[2020-11-30 07:56] dspeyer commented on #19
What is Intercom and why might we want it?

[2020-11-30 07:57] taymonbeal opened #20 "Degrade or disable videoconferencing when bucket brigade can't keep up with load"

[2020-11-30 07:59] taymonbeal opened #21 "Decide how to authenticate distinguished users"

[2020-11-30 07:59] Raemon commented on #17
Most notably I'm on a macbook, 10.14.6. I'm guessing the thing to do is
have a block of time where we're generally trying to debug everything going
weirdly on my machine, where I try some things, report errors, if there
aren't very clear errors maybe adding some more error logging, repeat.

On Sun, Nov 29, 2020 at 11:52 PM Daniel Speyer <notifications@github.com>
wrote:

[2020-11-30 08:00] taymonbeal opened #22 "Implement authentication of distinguished users"

[2020-11-30 08:01] taymonbeal opened #23 "Decide whether spectators can see videoconferences"
The primary reason against is that they have to take up a slot in a Twilio room, plus privacy-expectations stuff.

[2020-11-30 08:03] taymonbeal opened #24 "Create spectator mode and require everyone else to give name on entry"
Spectators have no display name or picture, do not send video or audio in Twilio or Bucket Brigade, and otherwise are invisible to everyone, but still receive all the data that everyone receives.

[2020-11-30 08:04] taymonbeal opened #25 "Design and build onboarding experience"

[2020-11-30 08:05] Raemon opened #26 "Create documentation for setting up a backing track + synced video"
I'm vaguely aware that backing tracks exist now, but don't know what steps I need to take to get a fully functional backing track + synced video in ritualEngine. (In particular on the production server).

(alternately: if documentation exists somewhere, pointing me to it would also work)

[2020-11-30 08:06] taymonbeal opened #27 "Integrate Sentry"
Bucket brigade demo app has its whole "fail loudly" thing. Do we want anything like that, so we know if there are any edge cases we didn't handle? Probably shouldn't have that for stress test, at least not as diruptively, but in that case setting up Sentry or something might be a reasonable thing to do.

[2020-11-30 08:09] taymonbeal opened #28 "Chaos testing"
Maybe we should try using the app in bad network environments, or something like that, to see if doing so surfaces any errors.

Blocked by: #27

[2020-11-30 08:10] taymonbeal opened #29 "Set up staging and/or production server"
So we have a place to test things together, and to point automated cloud testing resources at.

[2020-11-30 08:11] taymonbeal opened #30 "Automated load testing"
We mostly care about this for videoconferencing. I recently found testrtc.com, which seems like it could help.

[2020-11-30 08:12] taymonbeal opened #31 "Livestreaming"
I'm using Wowza for this. This includes recording the livestream.

[2020-11-30 08:13] taymonbeal opened #32 "Degrade or disable videoconferencing when livestream can't keep up with load"
Blocked by: #20
Blocked by: #31

[2020-11-30 08:14] taymonbeal commented on #19
Intercom is the thing on the bottom-right corner of lesswrong.com and many other websites, where you click a button, get a chat window where you can enter a problem you're having, and then a human comes and helps you. The plan IIUC is to have this be the primary means of getting tech support if you need it.

[2020-11-30 08:18] taymonbeal opened #33 "Decide what we're doing about videoconference recording"
This has privacy implications so we need to think carefully about it. There are also technical things that have to happen.

[2020-11-30 08:19] taymonbeal opened #34 "Investigate alternatives to YouTube for prerecorded video"
@Raemon expressed concern about the YouTube logo, and ideally we wouldn't show the controls either.

[2020-11-30 08:20] taymonbeal opened #35 "Figure out if we want anything from livestreaming beyond an isolated one for each slide"

[2020-11-30 08:21] taymonbeal opened #36 "Make chat history more consistent"
Ideally people who joined in late or refreshed would still be able to see chat history. Note that doing this properly requires some kind of reconciliation algorithm analogous to the one React implements.

Optional.

[2020-11-30 08:22] taymonbeal opened #37 "Do something about the scrollbars"
They're ugly.

[2020-11-30 08:24] taymonbeal opened #38 "Create proper controls to mute mic and webcam"
These should be used for both videoconferencing and bucket singing. They are essential for privacy.

This, along with #39, supersedes the "Twilio is not muted" control that currently exists.

[2020-11-30 08:26] taymonbeal opened #39 "Create control to mute audio output"
This should be used for livestream, prerecorded video, videoconferencing (in the parts where that has audio), and bucket singing.

We should not download videoconference audio that will not be used. I'm not clear on whether we can avoid downloading bucket audio in that case; it's less important in any case.

This, along with #38, supersedes the "Twilio is not muted" control that currently exists.

[2020-11-30 08:28] taymonbeal opened #40 "Create control to hide videoconferencing"
This should be available as a failsafe, so that if videoconferencing causes problems for people they can turn it off. (Though the user's own video feed should remain visible, if they are sending it to others.) Naturally, we should not download video that will not be shown.

[2020-11-30 08:31] taymonbeal opened #41 "Do not download videoconferencing videos that are hidden by CSS"
This can be done using the Twilio JS API plus IntersectionObserver.

[2020-11-30 08:32] taymonbeal opened #42 "Figure out plan for how to roll out the site"
Like, at what point do we distribute the link? When people go there in advance, do they get a static countdown page? Or do we dump them into the lobby which would require fixing #118?

[2020-11-30 08:33] taymonbeal opened #43 "Jointly assign buckets and Twilio rooms"
I'm not clear on how this would work but it was mentioned as something we want.

[2020-11-30 08:34] taymonbeal opened #44 "Don't make people recalibrate on refresh"

[2020-11-30 08:35] taymonbeal opened #45 "Figure out admin panel"
Are we still going to build one? What will it do?

[2020-11-30 08:36] taymonbeal opened #46 "Fix bug with videos not autoplaying on Ray’s computer"

[2020-11-30 08:37] taymonbeal opened #47 "Be robust to local getUserMedia failures"

[2020-11-30 08:55] taymonbeal opened #48 "Seek video to match bucket audio if it gets out of sync"

[2020-11-30 08:57] taymonbeal opened #49 "Write script for stress test"

[2020-11-30 18:02] Raemon commented on #45
context/thinking:

Jeff is building an admin panel for bucket brigade that manages audio. Upon reflection I'm not sure this was the right division of labor, because I think we'd ideally also have a ritual-engine version with some additional tools.

The tools we'd ideally have are:
1. Remove people from Twilio
2. Block people from chatting
3. Move people to the end of the bucket chain
4. ip ban peo

[2020-11-30 18:03] Raemon commented on #46
I believe this one is working, but since I'm having trouble getting slides and other things to work properly, I'm not 100% sure that I've tested it properly.

[2020-11-30 18:07] Raemon commented on #39
Is this intended for individual users? I think it makes sense for people to be able to mute Twilio selectively, but if they're muting livestream or bucket output I think they should just be turnibg their system volume off

[2020-11-30 18:12] Raemon commented on #35
One thing we _might_ want is to have livestreaming that persists over a "trivia" slide. However, I've thought a bunch about Trivia and not thought of prompts that I'm actually excited about, so I'm backburnering this.

Another thing we might want is an MC that pops up in between sections. But, so far I haven't thought of stuff I'd really want the MC to say in the mainline case. Most things an MC c

[2020-11-30 21:06] taymonbeal commented on #39
Yes, this is intended for individual users. Usually it is considered polite to allow people to mute an individual app without muting the entire system.

[2020-11-30 21:07] taymonbeal commented on #46
Do you mean your dev setup isn't working, or are you referring to #15? Or is this a new bug?

[2020-11-30 22:52] taymonbeal opened #50 "@taymonbeal needs Triage access to this repo"
This will allow me to add labels, milestones, and assignees to issues. Without them, it's just a big chaotic list.

I think only @dspeyer can do this.

[2020-12-01 01:55] taymonbeal opened #54 "Systematically handle jQuery network errors"
We might actually want to abandon jQuery AJAX entirely in favor of native fetch (or some kind of project-specific wrapper around native fetch) for this.

[2020-12-01 06:22] dspeyer commented on #50
I think I just gave you that access and more.  Please be cautious with the more (i.e. still send pull requests for changes that go deep)

[2020-12-01 06:24] dspeyer commented on #49
For twilio, I've been using:

for i in `ls *.mjpeg | shuf | head -n 7`; do nohup /opt/google/chrome/chrome  https://cpe-74-64-104-129.nyc.res.rr.com:8043/b/partake --window-size=100x80 --use-fake-device-for-media-stream --use-file-for-fake-video-capture=${i}   --disable-gpu  --user-data-dir=$(mktemp -d) --no-default-browser-check --use-fake-ui-for-media-stream & done

7 isn't very many, but it's w

[2020-12-01 06:26] dspeyer commented on #36
Current system just sends 50 most recent chats, which is an easy magic number to change

[2020-12-01 06:37] dspeyer commented on #18
I can easily create an mx record.  A mail forwarding server is a bit more work...  Unless I'm missing something?

[2020-12-01 06:46] taymonbeal opened #62 "Mirror people's self-video"

[2020-12-01 07:00] taymonbeal opened #63 "ritualEngine keeps being weirdly sluggish (waiting for dead sessions?)"
@gwillen, @Raemon, and I kept seeing `6/9 ready=true` repeatedly in the debugging info.

[2020-12-01 07:09] dspeyer commented on #63
6/9 ready=true means that the server knows of 9 clients, only 6 of which
have initialized, but it's ready to go ahead anyway because the first one
reported ready sufficiently long ago that we're happy going ahead without
the others.  That go-ahead logic probably needs tweaking, but if it's
saying ready=true, that's probably not related to whatever sluggishness
you're experiencing

[2020-12-01 07:14] gwillen commented on #63
To be clear, "sluggish" in this case was: it reported "6/9 ready=true" repeatedly for several minutes but never started the song. (Bucket brigade was running but the backing track and the youtube video didn't start.)

[2020-12-01 07:22] taymonbeal commented on #49
Sorry, I meant a ritual script for the human stress test on Sunday. Automated load testing is #30.

[2020-12-01 07:24] #50 closed, assigned to nobody

[2020-12-01 07:34] taymonbeal commented on #18
Please set the following records at the domain root:
MX mx1.improvmx.com. 10
MX mx2.improvmx.com. 20
TXT v=spf1 include:spf.improvmx.com ~all

[2020-12-01 07:59] Raemon commented on #46
I think this was working (although it seems to have been replaced by new confusing bug when we attempt to sync videos with backing tracks). Closing for now.

[2020-12-01 07:59] #46 closed, assigned to Raemon

[2020-12-01 08:05] taymonbeal commented on #36
I think there might still be some edge cases in here, but we may be able to get away without worrying about them.

[2020-12-01 08:08] dspeyer commented on #26
Short version:

Put the backing track as a wav file in the solstice-audio-test/audio
directory.  To convert it, use
   ffmpeg -i Brighter_Than_Today.mp3 -ac 1 -ar 48000 Brighter_Than_Today.wav

Backing video should be on youtube and silent

Then copy the config from examples/Brighter_Than_Today/1.json

Note that the video in that example triggers on line 39 of the lyrics, as
we've done in past yea

[2020-12-01 09:08] Raemon commented on #62
What does this mean?

[2020-12-01 09:10] Raemon commented on #15
I think this is primarily the result of various finnicky svg requirements that weren't very obvious. In the current devel-branch, Taymon made it so that issues like that cause a more violent crash + error report that makes it more obvious what's going wrong.

[2020-12-01 09:10] #15 closed, assigned to Raemon

[2020-12-01 09:28] Raemon commented on #23
I'm gonna make the call that "no, they cannot"

[2020-12-01 09:28] #23 closed, assigned to taymonbeal, Raemon

[2020-12-01 09:59] taymonbeal opened #66 "Decide whether to move lyrics to closed-captioning track"
This might be an easier and better-looking way to handle them than the manual-advancement thing we currently do.

[2020-12-01 10:01] taymonbeal commented on #62
If your webcam is on, one of the video feeds is of you from your local camera. @gwillen said that we should flip this horizontally so that it better matches what people expect.

[2020-12-01 10:03] Raemon commented on #62
Ah, gotcha. Yeah upon reflection the mirror-image had been kinda annoying.

That said this is probably among the nice-to-have-iest-things.

On Tue, Dec 1, 2020 at 2:01 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-01 10:04] Raemon commented on #66
Is this dependent on using youtube in particular?

On Tue, Dec 1, 2020 at 2:00 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-01 10:38] taymonbeal commented on #66
No, we can also do this with HTML5 `<video>`. Or some other streaming service; I think they all offer some form of closed captioning.

[2020-12-01 17:08] gwillen commented on #62
FWIW, maybe I just have an unusually asymmetrical face (or you both have unusually symmetrical ones) but it is very uncanny-valley and unpleasant for me to see my face live the right way around instead of mirrored.

(The first time I took a full-frame self-portrait photo and really looked at it, I honestly thought there was something wrong with the camera.)

[2020-12-01 21:42] Raemon commented on #62
Nod. I think it'll be awhile before we get to this, but, like, you are
welcome to submit a PR at any time. :)

On Tue, Dec 1, 2020 at 9:08 AM Glenn Willen <notifications@github.com>
wrote:

[2020-12-01 21:46] Raemon opened #67 "Make sure unsupported browsers loudly yell at you first-thing"
(And/or fix the part where firefox breaks bucket brigade)

[2020-12-01 22:04] Raemon commented on #67
it's possible I should do this myself, but want to finish doing some more obviously-Ray-flavored tasks first.

[2020-12-01 22:10] Raemon commented on #33
I think this should be towards the bottom of the nice-to-haves-for-solstice. The fact that there are some privacy concerns might just move me to "we shouldn't even bother at all."

[2020-12-01 22:15] Raemon commented on #33
We're automatically getting recordings of most speeches and songs. Meanwhile I'm not even sure what it means to record all the videoconferencing. I'm making the call to nix this one.

[2020-12-01 22:15] #33 closed, assigned to Raemon

[2020-12-01 22:24] Raemon commented on #67
actually, nvm this appears to already be done

[2020-12-02 00:54] Raemon commented on #37
Taymon can you send a screenshot? I see sorta janky things kinda-like-scrollbars but they aren't exactly scrollbars and wondering if we're seeing the same thing.

[2020-12-02 23:14] dspeyer commented on #18
Done (I think)

On Tue, Dec 1, 2020 at 2:34 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-03 01:05] #18 closed, assigned to dspeyer

[2020-12-03 01:07] taymonbeal commented on #29
We now have a staging server but it's tiny and I don't feel comfortable load-testing against it.

[2020-12-04 02:13] taymonbeal commented on #29
This was determined to be in a good-enough state for now.

[2020-12-04 02:14] taymonbeal commented on #47
Problem here seems to be if another process is using the camera/microphone. We should catch that and display an error state.

[2020-12-04 02:58] taymonbeal commented on #21
We've decided to use magic links for this. It will log the magic links at generation time so the server admin can see them.

[2020-12-04 02:59] taymonbeal commented on #29
Never mind, bucket brigade folks want it after all.

[2020-12-04 02:59] #21 closed, assigned to dspeyer

[2020-12-04 03:00] taymonbeal commented on #25
We're not going to have a separate onboarding page. We'll split specific onboarding-related feature requests into separate bugs.

[2020-12-04 03:00] #25 closed, assigned to Raemon, dspeyer

[2020-12-04 03:24] taymonbeal commented on #34
I'm going to try streaming the video through AWS CloudFront.

[2020-12-05 00:54] dspeyer opened #74 "Twilio.Video.createLocalAudioTrack() sometimes hangs"
When I invoke Twilio.Video.createLocalAudioTrack().then(foo()), foo sometimes just doesn't get called.  Restarting chrome fixes this.  The symptom is that the client in question cannot speak in a twilio lobby.  I am baffled as to why.

[2020-12-05 00:57] Raemon commented on #74
Quick check if you have any other apps or tabs using video or audio at the
time that this happens? I think we had run into another bug where other
videoconferencing apps were hijacking the camera/mic so Twilio couldn't use
it. Not sure if related.

On Fri, Dec 4, 2020 at 4:54 PM Daniel Speyer <notifications@github.com>
wrote:

[2020-12-05 01:19] Raemon commented on #37
This is fixed in devel AFAICT

[2020-12-05 01:19] #37 closed, assigned to Raemon

[2020-12-05 01:36] Raemon commented on #35
One for each slide seems fine.

[2020-12-05 01:36] #35 closed, assigned to Raemon

[2020-12-05 05:19] dspeyer commented on #62
Done

[2020-12-05 05:19] #62 closed, assigned to taymonbeal

[2020-12-05 05:35] dspeyer commented on #30
While it doesn't do everything, or even several important things, tester.py can supply static client avatars in bulk.  It also does user avatars and tests a whole bunch of widgets.

For video client avatars, I now use:

for i in `ls *.mjpeg | shuf | head -n 7`; do nohup /opt/google/chrome/chrome  https://cpe-74-64-104-129.nyc.res.rr.com:8043/b/partake --window-size=600x200 --use-fake-device-for-me

[2020-12-05 06:30] Raemon opened #77 "Create a more responsive layout"
Tonight/tomorrow I'd like to rework the layout to be more resilient against page-resizing, and whether or not the chat is open or closed.

Right now the layout system relies a lot on absolute positioning, which is pretty brittle. It's often considered better practice these days to have a flexible layout, typically powered by flexbox. (I had made some changes to that for the previous set of twilio-

[2020-12-05 07:06] Raemon opened #78 "Bug? Testing Feature? Refreshing creates additional avatars that don't go away"
Currently, if I refresh four times, I end up with this:

![image](https://user-images.githubusercontent.com/3246710/101236318-27ba4080-3685-11eb-8fbe-2b5692e1663a.png)

I'm guessing the issue is that ritualEngine doesn't have a way to detect if a user already exists, and then not create additional avatars or twilio feeds for them. We could either re-introduce the signup form and make them pick a u

[2020-12-05 09:43] Raemon opened #79 "Bug: Crashing after many refreshes."
Possibly relatedly to https://github.com/dspeyer/ritualEngine/issues/78:

When I refresh a whole bunch of times, I eventually got a large number of avatars... until suddenly I got this error instead:

[code]

[2020-12-05 10:06] Raemon opened #80 "Placeholder avatar is... slightly horrifying"
![image](https://user-images.githubusercontent.com/3246710/101239691-732d1880-369e-11eb-8cc0-b93caab93a11.png)

I... kinda get some jump scares from this guy. I will probably replace it with something a bit more generic looking.

[2020-12-05 19:38] Raemon opened #81 "Figure out how to manually test twilio rooms"
Today I want to make sure Twilio rooms are working correctly. This requires:

a) two people at a minimum, preferably... 5ish? (enough to check that pairs of people can get sorted into rooms, see/hear other people in that room, and see the still-image avatars of people not in their room. 5 seems better than 4 so to make sure the system works repeatedly.

b) the ability to modify how large a twilio

[2020-12-05 23:37] Raemon opened #85 "Crash after re-opening a ritual on a twilio tab"
This was on Taymons' betatesting server. It was running off a recently updated branch.

[code]

[2020-12-06 00:28] Raemon opened #86 "Video-Avatars should be front-and-center-and-large"
From what I can tell in the current implementation, twilio-avatars aren't especially prioritized in any way. Kind of the whole point of the videos is to actually see people, so they should be prioritized into the first row.

[2020-12-06 02:36] Raemon opened #88 "Crash on bucket-brigade-initialization"
I got a crash when attempting to use bucket-brigade on Taymon's most recent branch, when first clicking the Initialize button.

(The auto-crash-report did not provide anything)

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/3246710/101269950-eaa78a00-3728-11eb-9bf8-2f55321abf19.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/324671

[2020-12-06 04:51] Raemon opened #89 "TypeError: Cannot read property 'addEventListener' of null"
Happened on SolsticeStressTest, I _think_ when Taymon switched from partaking to leading. Happened for me and Glenn.

[code]

[2020-12-06 05:06] taymonbeal commented on #89
I think I fixed this in af889f491a7c883c57c17c8cc474a39ee3d51bb4.

[2020-12-06 05:06] #89 closed, assigned to nobody

[2020-12-06 05:07] alexaltair opened #90 "NotReadableError: Could not start video source"
![Screenshot from 2020-12-05 21-06-36](https://user-images.githubusercontent.com/4567419/101272092-e2a61500-373d-11eb-8a1d-34ba3313433e.png)

[2020-12-06 05:08] alexaltair commented on #90
This is upon loading the page `https://secularsolsticebeta.com/test/partake`

[2020-12-06 05:35] alexaltair commented on #90
This was probably due to me having zoom open at the same time. (Ubuntu 20.04)

[2020-12-06 08:14] taymonbeal commented on #78
I think the architecture we wanted to lean towards is more like, there's no persistent user identity, so if you refresh you do indeed get a new avatar and Twilio feed (possibly with the help of stuff you populated earlier and that was stored client-side). In which case the fix is to more promptly get rid of the old avatar and Twilio feed once they go offline.

But maybe storing some stuff persiste

[2020-12-06 10:10] Raemon commented on #78
Daniel has since made a partial fix to this where users get discarded every 30 seconds if they haven't checked in. This isn't perfect but mostly solves the problem, at least for tomorrow's stress test.

[2020-12-06 20:07] dspeyer commented on #86
Crude prioritization is implemented

[2020-12-06 20:54] Raemon opened #96 "Crashed"
check@https://secularsolstice2020.org/widgets/BucketSinging/lib.js:20:11
concat_chunks@https://secularsolstice2020.org/widgets/BucketSinging/audiochunk.js:215:18
handle_message@https://secularsolstice2020.org/widgets/BucketSinging/app.js:838:32
handle_message@https://secularsolstice2020.org/widgets/BucketSinging/app.js:527:10

[2020-12-06 21:58] Raemon opened #100 "crash during livestream"
Html5.disposeMediaElement/<@https://vjs.zencdn.net/7.10.2/video.js:22635:14
Html5.disposeMediaElement@https://vjs.zencdn.net/7.10.2/video.js:22638:9
dispose@https://vjs.zencdn.net/7.10.2/video.js:21415:13
dispose@https://vjs.zencdn.net/7.10.2/video.js:23858:20
destroy@https://secularsolstice2020.org/widgets/Livestream.js:88:25
success@https://secularsolstice2020.org/test/partake:258:36
c@https://a

[2020-12-06 22:11] EEdwardsA opened #103 "Stress Test Error"
After my wife did sound and singing calibration and was waiting for the singing to start, lyrics popped up briefly, then the whole page crashed for her and displayed the following error:

Error: Cannot switch from audio chunk back to placeholder chunk
    at check (https://secularsolstice2020.org/widgets/BucketSinging/lib.js:20:11)
    at concat_chunks (https://secularsolstice2020.org/widgets/Buck

[2020-12-06 22:14] AdamScherlis opened #104 "Crash after allowing microphone access"
immediately after clicking "initialize singing" and authorizing mic access during stress test:

"AbortError: The user aborted a request."

[2020-12-06 22:22] EEdwardsA opened #105 "Reducing size of faces also reduces size of other page elements"
When I hit cmd - to make the faces take up a smaller portion of the screen, so that I could see the lyrics better, the faces did get smaller, but the background image moved and the scrollbar moved sideways (leftward), as well.

[2020-12-06 22:37] gwillen opened #106 "Chat box fails to scroll to bottom correctly for some users"
since it seems to happen for some people but not others, it may be a retina/hidpi issue. I've seen that before with things like this. (But it might be that it happens for everybody, and whether it triggers depends on quantity of chat text and how tall your window is.)

[2020-12-07 01:56] Raemon opened #107 "Reorganizing Sizes of Faces"
Daniel deliberately made the face-avatars at a size where they wouldn't take up too much space. I deliberately made them a  bigger because I thought it was important for at least some videos to be moderately large.

I think both things are true. (I think it's important there be at least some faces you can clearly see singing)

I think getting this right requires a slightly different algorithm for

[2020-12-07 04:04] Raemon commented on #107
(I'm not sure they need to be _quite_ as big as I made them, or that the entire first row needs to be that big. I kinda like having at least one or two that are large-ish, but maybe most of the rest of the front-row could be smaller?)

[2020-12-07 04:09] Raemon commented on #105
This will most likely be handled by making it so faces don't take up so much room in the first place, a la https://github.com/dspeyer/ritualEngine/issues/107

[2020-12-07 04:09] #105 closed, assigned to nobody

[2020-12-07 04:29] dspeyer commented on #107
Braindump...

The current algorithm in master (not sure about devel) is that size
decreases by 1/3 (so a factor of 2/3) each row, and y spacing is 3/2 the
larger radius aka 9/10 the distance we'd need to ensure zero overlap.  This
ensures the total vertical space is 5x the starting radius (2.5x starting
diameter).

(Or, rather, that's what it *would* be if everything were circles.  Squares
need a

[2020-12-07 05:21] Raemon commented on #107
1) I have concretely changed my mind about having squares. (I think the world where squares made sense had a more sharp division between "people in my Twilio room" vs "everyone else." In the world where you're deliberately blurring the line between videos and snapshots, I think having different shapes is more confusing than helpful.

I now think just using circles everywhere makes more sense.

2)

[2020-12-07 05:50] dspeyer opened #110 "Some users have no cameras or do not wish to share video"
We should have some mechanism in place for them, possibly including the ability to specify a static avatar from some other source.

[2020-12-07 05:52] dspeyer opened #111 "Figure out lyric-timing source"
The lyric system currently assumes there is a single lead singer who is also clicking in the lyrics in time.  In a more backing-track-driven setup, we need a prerecorded lyric timing source.  It should be reasonably easy to generate whatever we use from the backing track.

[2020-12-07 05:53] #80 closed, assigned to Raemon

[2020-12-07 06:01] Raemon commented on #111
So, if you're trying to highlight individual lyric-lines, you need the timing pretty precise. But I think if we were just generally scrolling the lyrics to keep the right ones in mid-screen, it'd be fine to use a heurstic-based "check the entire duration of the song, and just scroll one lyric line per N seconds", where N is "duration / number of lyric lines"

[2020-12-07 06:33] Raemon opened #112 "Make the auditorium re-render on page-resize"

[2020-12-08 02:28] Raemon opened #113 "BucketSinging error"
check@https://secularsolstice2020.org/widgets/BucketSinging/lib.js:20:11
concat_chunks@https://secularsolstice2020.org/widgets/BucketSinging/audiochunk.js:215:18
handle_message@https://secularsolstice2020.org/widgets/BucketSinging/app.js:847:32
handle_message@https://secularsolstice2020.org/widgets/BucketSinging/app.js:527:10

Blocked by: gwillen/solstice-audio-test#98

[2020-12-08 03:11] Raemon opened #114 "Firefox errors get slightly truncated"
Glenn observed that the errors I was getting when ritualEngine crashed were weirdly truncated. I think this is just a firefox issue. In chrome I get the top-level error message.

i.e. instead of this:

[code]

I got this:

[code]

[2020-12-08 22:09] Raemon opened #115 "On page refresh, I sometimes briefly see the error-screen"
(It flickers in briefly and then flickers out). I only see it sometimes. I _think_ I only see it on Firefox, although I'm not sure. I don't see it when I first open the page for the first time.

(I think it's fine to leave Firefox as the somewhat jankier version that we steer people away from, but let them use if they prefer it, so this may not be very high priority).

[2020-12-10 20:46] dspeyer opened #118 "Trouble with garbage-collected Twilio rooms"
If you start a ritual, close all tabs connected to it, wait sufficient time (1 minute?) and try to reconnect, you'll get errors.  Twilio will have garbage-collected the room, and ritualEngine can't cope with that.  I'm not sure what the correct behavior is, but locking up with an error message isn't it.

[2020-12-10 20:55] #112 closed, assigned to dspeyer

[2020-12-11 00:15] Raemon opened #119 "Crashing on drawnlayout branch, firefox, newlayout example ritual"
It doesn't actually provide an error warning in the error box.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/3246710/101845163-d259b580-3b02-11eb-8758-9efdb924235b.png">

<img width="1315" alt="image" src="https://user-images.githubusercontent.com/3246710/101845157-cbcb3e00-3b02-11eb-9348-1607c6eaf930.png">

[2020-12-11 00:25] Raemon commented on #119
Nevermind, I am dumb, this was on my local setup where bucket brigade wasn't enabled, not the production server like I thought it was.

[2020-12-11 00:25] #119 closed, assigned to nobody

[2020-12-11 11:49] taymonbeal commented on #118
Fixing this is a bit complicated. We'd need to catch the error and then ask the server for a new token. The server, when asked for a new token in this way, would need to use the API to make sure that the room still exists (which would require this endpoint to be async), and if not, to create a new room. We might also need some locking to ensure that it wouldn't try to create more than one room if

[2020-12-12 01:51] taymonbeal opened #121 "TypeError after calibrating when slide transitioned during calibration"
![image](https://user-images.githubusercontent.com/1991427/101969486-8f770b00-3bf2-11eb-873b-b88ad16198ac.png)

[2020-12-12 01:51] taymonbeal opened #122 "When slide changes while calibrating, a separate calibration button appears in the background"
I didn't click the button but I'm pretty sure no good can come of this.

[2020-12-12 01:54] taymonbeal commented on #122
I think 6e98cf867b42a4b95e7b4f7c1e2746342c855677 addressed this but we decided not to go that route.

[2020-12-12 02:05] Raemon opened #123 "Crash when changing slides-while-calibrating"
Happened when I:
a) started calibrating (as lead)
b) moved to next slide
c) I finished calibrating on the next side, apparently while the backing track was loading
d) after calibrating I got ANOTHER calibration box
e) backing track + video appeared to load normally
f) sometime in the middle of the backing track I received the following crash (i think the backing track kept working, not sure if buc

[2020-12-13 03:45] taymonbeal opened #128 "Pre-fill information into Intercom and Sentry"
We could collect info about the identity of a user who sends us a chat message or hits a crash bug, based on what's been entered elsewhere, which could help us with debugging.

[2020-12-13 05:37] taymonbeal commented on #22
We now have no distinguished users apart from the admins.

[2020-12-13 05:37] #22 closed, assigned to taymonbeal

[2020-12-13 05:38] taymonbeal commented on #31
Decision was made not to do this.

[2020-12-13 05:38] #31 closed, assigned to taymonbeal

[2020-12-13 05:38] taymonbeal commented on #29
Okay _now_ it's good enough.

[2020-12-13 05:38] #29 closed, assigned to dspeyer

[2020-12-13 05:40] taymonbeal commented on #32
Livestreaming has been canceled.

[2020-12-13 05:40] #32 closed, assigned to nobody

[2020-12-13 05:40] #77 closed, assigned to Raemon

[2020-12-13 05:41] taymonbeal commented on #63
I think this got fixed when the bucket assignment system was rejiggered.

[2020-12-13 05:41] #63 closed, assigned to dspeyer

[2020-12-13 05:42] #49 closed, assigned to Raemon

[2020-12-13 05:42] taymonbeal commented on #30
We're using TestRTC for this. It seems to work well enough.

[2020-12-13 05:42] #30 closed, assigned to dspeyer

[2020-12-13 05:43] taymonbeal commented on #27
We went with Sentry.

[2020-12-13 05:45] taymonbeal commented on #34
We're now using HTML5 native video hosted in AWS S3 and streamed through AWS CloudFront.

[2020-12-13 05:45] #34 closed, assigned to taymonbeal

[2020-12-13 05:46] taymonbeal commented on #43
@dspeyer, is this feasible?

[2020-12-13 05:46] taymonbeal commented on #43
By which I mean, can it be a low-risk change? (To make sure people are in the same Twilio room as others in the same bucket, I mean.) Because we're out of time for high-risk ones.

[2020-12-13 05:48] taymonbeal commented on #17
We decided not to have trivia.

[2020-12-13 05:48] #17 closed, assigned to Raemon

[2020-12-13 05:50] taymonbeal commented on #26
No longer an outstanding issue for Solstice.

[2020-12-13 05:50] #26 closed, assigned to dspeyer

[2020-12-13 05:53] taymonbeal commented on #66
We're not doing this. See #111.

[2020-12-13 05:53] #66 closed, assigned to taymonbeal, dspeyer

[2020-12-13 06:05] taymonbeal commented on #1
Not used for Solstice.

[2020-12-13 06:05] #1 closed, assigned to taymonbeal

[2020-12-13 06:06] taymonbeal commented on #41
Daniel, is this still a thing that makes sense now that we have the images-as-fake-videos thing?

[2020-12-13 06:09] taymonbeal commented on #78
Do we want to store client identity persistently? If not, do we want to make the thing announce on the way out (with navigator.sendBeacon) that it's leaving, so that it disappears sooner?

[2020-12-13 06:09] taymonbeal commented on #90
Duplicate of #47.

[2020-12-13 06:09] #90 closed, assigned to nobody

[2020-12-13 06:13] taymonbeal commented on #114
Can you see if this is still an issue with Sentry?

[2020-12-13 06:14] taymonbeal commented on #121
The new onboarding flow should have fixed this.

[2020-12-13 06:14] #121 closed, assigned to nobody

[2020-12-13 06:17] dspeyer commented on #78
Rambly braindump...

I think persistent client identity is the wrong approach.  It'll fail if
someone just closes a tab, and may cause all sorts of nasty surprises.

There might be a way to get aiohttp to notice that a request is canceled.
IIRC HTTP doesn't have a concept of cancelation, but TCP has a concept of
connection closure.  Which might or might not happen before a reload.

I'm not sure if

[2020-12-13 06:18] dspeyer commented on #43
Yes.  I might be able to get it done tonight.  Testing's going to be
annoying, though.

On Sun, Dec 13, 2020 at 12:46 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-13 06:18] taymonbeal commented on #123
Duplicate of #121.

[2020-12-13 06:18] #123 closed, assigned to nobody

[2020-12-13 06:21] taymonbeal commented on #78
To be clear, the point of navigator.sendBeacon is that it's the way to talk to the server in a beforeunload event; you can't make a regular AJAX call there, or if you do it might not go through.

Not detecting browser crashes is fine.

Should I leave this assigned to you? It sounds like you have some idea of how to make it work.

[2020-12-13 06:21] taymonbeal commented on #81
@Raemon, is this still an open issue?

[2020-12-13 06:21] taymonbeal commented on #85
Duplicate of #118.

[2020-12-13 06:21] #85 closed, assigned to nobody

[2020-12-13 06:22] taymonbeal commented on #115
Does this still happen post-Sentry?

[2020-12-13 06:24] taymonbeal commented on #122
The new onboarding flow should have fixed this.

[2020-12-13 06:24] #122 closed, assigned to nobody

[2020-12-13 06:25] dspeyer commented on #111
This is fixed in the newslots branch.  I guess the bug should stay open
until that's merged.

On Sun, Dec 13, 2020 at 1:24 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-13 06:32] taymonbeal opened #130 "Design new Intercom start experience"
We should decide whether we want to stick with the default button, or instead create some other kind of button that might fit better with the site design. One possibility I'm imagining is moving the chat form back to the bottom-right (where it makes more sense), and then putting a "I Need Tech Support" button (with horizontal proportions, not round like the Intercom button) below it. Then maybe we

[2020-12-13 06:35] gwillen commented on #103
I believe that #113 is a dupe of this, and should be closed in favor of this (since that one has the problem that Ray was getting crappy backtraces in Firefox, so this one has more details.)

[2020-12-13 06:53] dspeyer commented on #130
Is the intercom button supposed to be always on or just on the welcome
slide?  The welcome slide has chat disabled (in the current version, but I
think this is also the plan).

I oppose moving chat to the bottom of the screen.  Getting good avatar
arrangement was tricky enough.  Doing so with less space and weirder
shaping constraints is likely to go badly.

It occurs to me that the top left is cu

[2020-12-13 08:22] taymonbeal commented on #104
I don't actually know what this is and I'm worried we won't be able to repro it...

[2020-12-13 08:23] taymonbeal commented on #100
We gave up on livestreaming.

[2020-12-13 08:23] #100 closed, assigned to nobody

[2020-12-13 08:25] taymonbeal commented on #96
I'm going to assume that this is a duplicate of #103.

[2020-12-13 08:25] #96 closed, assigned to nobody

[2020-12-13 08:26] taymonbeal commented on #88
This is probably obsolete since my branch didn't get merged.

[2020-12-13 08:26] #88 closed, assigned to nobody

[2020-12-13 08:27] taymonbeal commented on #86
@Raemon, is this good now?

[2020-12-13 08:33] Raemon commented on #86
I think it might be better if more of the front-row-ones were slightly
larger, but it certainly is not at the top of my priority list.

On Sun, Dec 13, 2020 at 12:27 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-13 08:33] taymonbeal commented on #45
The baseline architecture that we'd want here would be a page that updates itself in real time through long polling, and that shows a list of everyone who's connected. Once we had that baseline, I could then tweak it to include the specific functionality we needed.

@dspeyer, do you think you will have time to do this (in addition to all the other stuff that needs to get done that requires your in

[2020-12-13 08:37] dspeyer commented on #78
I read a bunch of docs about send beacon and events and the whole thing
seems a mess.  Is it your understanding that there's a reliable way to send
an "I'm going away" message?

On Sunday, December 13, 2020, Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-13 08:39] dspeyer commented on #43
Not tonight. Early tomorrow.

The simplest approach is to create a new set of twilio rooms every singing
slide and trust the old ones to get garbage collected.  I'm worried this
will trip something in twilio. Do you know whether there's anything to
worry about?

On Sunday, December 13, 2020, Daniel Speyer <dspeyer@gmail.com> wrote:

[2020-12-13 08:43] taymonbeal commented on #24
@dspeyer, I'd be willing to take a stab at this myself, but I'm having a hard time finding the code governing the onboarding flow. Can you point me to it?

[2020-12-13 08:47] taymonbeal commented on #79
I think this was fixed by b5f47d60fd820e5862b67bd335cf084aff19f394.

[2020-12-13 08:47] #79 closed, assigned to taymonbeal, dspeyer

[2020-12-13 08:49] dspeyer commented on #24
Client page in rituals. Py

(Sent from phone)

On Sunday, December 13, 2020, Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-13 09:08] taymonbeal commented on #24
Okay, I found the logic in another branch.

So what do you think would be a good way to make people enter a name before they start calibrating? Should we put this in BucketSinging.js, or should it be a separate thing?

[2020-12-13 09:09] taymonbeal opened #132 "Explain at the outset what gets transmitted when and who can see it"
I think this is important because privacy expectations.

Blocked by: #24

[2020-12-13 09:10] taymonbeal opened #133 "Write Solstice 2020 script"
It would be good to get this done as soon as feasible, so that we can do testing with the actual script that will be used.

[2020-12-13 09:11] taymonbeal opened #134 "Fix the bad annoying SVG errors"
They show up in the console every time and I'd rather have console errors always correspond to real problems.

[2020-12-13 09:12] taymonbeal opened #135 "Create a favicon"
This'd prevent bad console errors and also would look nice aesthetically.

[2020-12-13 09:12] taymonbeal opened #136 "Make a better window title"

[2020-12-13 09:23] taymonbeal commented on #43
We can have thousands of Twilio rooms, per the docs, and old ones definitely reliably get garbage-collected, as we've seen. The complexity here would be the timing of when we disconnect and reconnect people. Is the staggering thing I proposed earlier still in the cards?

[2020-12-13 09:24] taymonbeal commented on #78
Here's MDN: https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon

It's not perfectly reliable but I would expect it to be reliable enough for our purposes.

[2020-12-13 09:26] taymonbeal commented on #78
...but if we're not sure, and you can detect cancellation server-side, that might be better. Though there's always the risk that a client disconnects between requests.

[2020-12-13 09:27] taymonbeal commented on #86
Should I leave it assigned to you or does Daniel have to do it?

[2020-12-13 09:31] taymonbeal commented on #130
Intercom is supposed to be available all the time.

Is the chat box supposed to move as chat messages get sent? I think it does that now, and this seems pretty unusual. And pinning it at the top isn't great either, because the standard UX pattern is that it goes near where the message that you're composing will be moved to after you sent it. This is why the box is usually at the bottom. I'm not su

[2020-12-13 09:32] taymonbeal commented on #113
Duplicate of #103.

[2020-12-13 09:32] #113 closed, assigned to nobody

[2020-12-13 09:35] taymonbeal commented on #103
@Raemon, is there any further context on #113? If not I think we'll have to close this as non-reproable (and hope it comes up in chaos testing in a few days, if it hasn't been fixed already).

[2020-12-13 09:38] taymonbeal opened #137 "Use server-to-server APIs to secure Bucket Brigade"

[2020-12-13 09:41] taymonbeal opened #138 "Use 404s instead of 500s where appropriate"
500s are likely to show up as false positives in Sentry.

[2020-12-13 15:03] #103 closed, assigned to Raemon

[2020-12-13 15:08] Raemon commented on #130
Yeah this is tricky. I see what Taymon is getting at with integrating with
with chat. But, I think the current chat-layout took a fair amount of
finangling to work, and am pessimistic we'll get anything better.

I do like the idea of putting intercom near the new-chat button (because
otherwise people will probably use the chat for tech support, which we
mostly don't want)

I will reflect on this m

[2020-12-13 15:09] Raemon commented on #86
I think leave assigned to me. (in part because it's not important enough
for daniel to spend cognition on it at the moment. I'll decide if that
should change)

On Sun, Dec 13, 2020 at 1:27 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-13 15:11] Raemon commented on #134
Can we use the humanistculture logo that is also used for the
un-set-avatars? I'm not sure how to do that, if you know how to copy-paste
that into a place where favicon can use it that'd be helpful to me.

On Sun, Dec 13, 2020 at 1:11 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-13 15:17] Raemon commented on #45
I'm not sure the right abstraction is a separate panel. I think if I want
to mute somebody, it's because their Twilio image is abusive, or their
chats are abusive, or their bucket brigade is fucked up.

Bucketbrigade I think can be handled by the BB panel that already exists.

For the other two, I think I probably just want to be able to right-click
on a twilio avatar or chat-name, and have the ab

[2020-12-13 15:21] Raemon commented on #81
I guess not. (Insofar as this is still important it's probably mostly relevant to https://github.com/dspeyer/ritualEngine/issues/43)

[2020-12-13 15:21] Raemon commented on #115
I'm going to close it for now, and re-open if it comes up again.

[2020-12-13 15:21] #115 closed, assigned to Raemon

[2020-12-13 15:49] Raemon commented on #135
I think we can use the humanist culture logo (also used for default avatars). Can you set the up @taymonbeal ?

[2020-12-13 15:55] Raemon opened #139 "Speech/Song transitioning"
This is annoying, but important:

The 500 Million Speech is directly integrated with the song Brighter Than Today (the beginning of the song overlaps with the end of the speech). This requires them to work on a single slide. Theoretically the whole thing could just be bucket-powered, but then you'd have people shuffling in their seats making noise during the speech, being disruptive. Somehow we wa

[2020-12-13 19:02] #81 closed, assigned to Raemon

[2020-12-13 19:04] taymonbeal commented on #134
Did you mean to post this on #135?

[2020-12-13 19:45] dspeyer commented on #139
Running the slide as bucketsinging, but with mics muted and lyrics hidden
until the -4 event should be pretty easy

On Sun, Dec 13, 2020 at 10:55 AM Raemon <notifications@github.com> wrote:

[2020-12-13 20:08] Raemon commented on #41
More relevant is that we don't hide videos with css (I think at all?) so this seems straightforwardly ready to close.

[2020-12-13 20:08] #41 closed, assigned to dspeyer

[2020-12-13 20:08] Raemon commented on #78
fwiw I think this is sufficiently resolved by the "goes away after 30 seconds" that I wouldn't spend more cognition on it.

[2020-12-13 21:16] Raemon commented on #139
Now that backing-video-sync is working, I think for Brighter Than Today it'd actually be better to just have the lyrics be part of the video anyway (it'll need to be a fullscreen video), so don't even need to do "hide lyrics"

[2020-12-13 21:17] dspeyer commented on #139
Lyrics visible for the entirety of the spoken part?  That feels like both a
spoiler and a distraction

On Sun, Dec 13, 2020 at 4:16 PM Raemon <notifications@github.com> wrote:

[2020-12-13 21:27] Raemon commented on #139
The lyrics would appear in the video timed with when they're getting sung.

On Sun, Dec 13, 2020 at 1:17 PM Daniel Speyer <notifications@github.com>
wrote:

[2020-12-13 21:28] Raemon commented on #139
(the lyrics would be literally part of the video, just pixels appearing in time. I think this is how Brighter Than Today and Five Thousand Years should handle it since they have more immersive visuals)

[2020-12-14 00:07] taymonbeal commented on #42
We're bringing it up Friday morning.

[2020-12-14 00:07] #42 closed, assigned to Raemon

[2020-12-14 00:08] taymonbeal commented on #45
We figured out a way we can just do the thing inline.

[2020-12-14 00:08] #45 closed, assigned to dspeyer

[2020-12-14 00:14] taymonbeal opened #140 "Indicate more clearly which video is you"
Maybe always put the user in the bottom-left corner? Or just outline the circle specially or something?

[2020-12-14 00:25] Raemon commented on #140
bottom-left seems good to me. I think this might already be the case?

[2020-12-14 00:36] #19 closed, assigned to taymonbeal

[2020-12-14 00:36] #27 closed, assigned to taymonbeal, dspeyer

[2020-12-14 02:09] taymonbeal commented on #140
When I log in by myself I get put in the bottom center.

[2020-12-14 04:57] Raemon opened #143 "Clarify/improve specs on SVGs"
Daniel, I'm interested in questions about the rules for SVGs as they currently are, and some thoughts how they probably should be.

(this may be the sort of thing clashing with your abstractions on how everything works, if so, sorry about that. I do suspect it's necessary for me to have some flexiblity in how to render videos and slides based on my own aesthetic judgment)

Considerations:

**1.**

[2020-12-14 05:53] dspeyer commented on #143
Standard layout (configurable in index.json) gives the top 70% of the
screen to content and the bottom 30% to participants (copied from the
drawing you sent me).  Participants overflows its allocation a little on
the left and right, but not the center.  Assuming the user's screen is
16:9, this leaves a roughly 5:2 space for content.  If the user's screen is
a different shape, the content will be s

[2020-12-14 10:02] dspeyer commented on #140
It's always bottom left unless you're the only one there, because just
bottom left looks silly

On Sun, Dec 13, 2020 at 9:09 PM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-14 11:15] gwillen opened #145 "Are we actually muting people who are uncalibrated?"
To skip calibration in ritual engine, you have to click a button that says "don't let anybody hear me", but it doesn't seem like we actually do anything to prevent audio from going out anyway.

(Also, ritual engine doesn't provide users with a mute button in case something noisy happens when they're trying to sing; that's kind of separate, but it probably should.)

[2020-12-14 12:43] dspeyer commented on #145
This button ensures they will be in the last bucket, though they still
might be heard via the /bb interface or in the saved recording if anyone
ever listens to that.  There was also a rumor that BBS itself would refuse
to send audio if calibration hadn't been done, but if you haven't heard of
that it probably isn't true.

On Mon, Dec 14, 2020 at 6:15 AM Glenn Willen <notifications@github.com>
wrot

[2020-12-15 00:20] taymonbeal opened #147 "SVG-related crash in Firefox"
https://sentry.io/share/issue/ed208560d194457ca6ae56526aa13ead/

This is the error that Ray's mom ran into. I can reliably repro it on my own machine, but am not able to easily debug it myself, due to the combination of it being a logic bug in code I didn't write and don't understand, plus an apparent bug in the Firefox dev tools that disallows interactive debugging of this script.

This happens w

[2020-12-15 00:23] taymonbeal opened #148 "Crash that I ran into repeatedly during Monday's test"
Blocked by: gwillen/solstice-audio-test#103

[2020-12-15 00:25] Raemon opened #149 "Make it so that you can't navigate to a slide that doesn't exist"
Currently, if you navigate to slide 0 or slide maxN+1, you get a mysterious crash.

I think this probably won't impact solstice itself but it's pretty common for slide-controlling-people to fingerslip and go to a wrong slide, and it sometimes interacts poorly with other slide-bugs. It seems fairly obviously like something that is supposed to be fixed in the final version of ritual engine.

[2020-12-15 00:26] taymonbeal opened #150 "Closed captioning for speeches"

[2020-12-15 00:28] taymonbeal commented on #48
Fixed in 24a65b47a31b4e7e887135d098bf43b9eb631ba4.

[2020-12-15 00:28] #48 closed, assigned to taymonbeal

[2020-12-15 01:27] taymonbeal opened #151 "I was given the lead-singer UI with clickable lyrics despite being on /partake"
This was during Monday's test, second run.

[2020-12-15 01:36] taymonbeal opened #152 "Allow multiple songs to be recorded back to back"
Right now the ends get chopped off if you do that.

[2020-12-15 02:00] Raemon commented on #152
Note that this is towards the very bottom of the nice-to-haves

On Mon, Dec 14, 2020 at 5:36 PM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-15 09:04] gwillen opened #154 "Failed to execute 'removeEventListener' on 'EventTarget': 2 arguments required, but only 1 present."
https://sentry.io/organizations/secular-solstice/issues/2093015853

On line 357 of `bucketSinging.js`:

[code]

should be

[code]

[2020-12-15 09:08] gwillen commented on #148
Believed to be fixed.

[2020-12-15 09:14] gwillen commented on #145
As far as I can tell, BBS will not do that; demo.js (the BBS frontend) manages that.

In https://github.com/dspeyer/ritualEngine/pull/153 which saves and loads calibration, I also added

`mycontext.send_ignore_input(true);`

if calibration fails, which will tell BBS to put us in listen-only mode (this can ONLY be done before SingerClient is created, and will not just mute the mic, but put it into

[2020-12-15 11:31] dspeyer commented on #154
I fixed this in the process of writing the bucket control

On Tue, Dec 15, 2020 at 4:04 AM Glenn Willen <notifications@github.com>
wrote:

[2020-12-15 21:06] gwillen commented on #154
Shoot, this time it's my turn to be out of date, as it looks like this was fixed about an hour before I filed it. Sorry about that!

[2020-12-15 21:06] #154 closed, assigned to nobody

[2020-12-15 21:57] dspeyer commented on #151
If there was no lead, picking a random lyric clicker is desired behavior.  And this only comes into play in the lyric-clicking case which we're not planning to use at solstice.

[2020-12-15 22:01] #148 closed, assigned to nobody

[2020-12-15 22:12] #110 closed, assigned to dspeyer

[2020-12-15 22:12] #106 closed, assigned to taymonbeal

[2020-12-15 22:13] #43 closed, assigned to dspeyer

[2020-12-15 22:22] #111 closed, assigned to dspeyer

[2020-12-15 22:24] #118 closed, assigned to dspeyer

[2020-12-15 22:25] dspeyer commented on #132
I think the new welcome flow communicates this adequately

[2020-12-15 22:25] #132 closed, assigned to nobody

[2020-12-15 22:27] taymonbeal opened #155 "KeyError in ritual.clients"
[code]

I'm guessing that this _probably_ is the result of the server being restarted, so we can postpone fixing it for now, but it would be better to handle this gracefully so that we can be sure.

[2020-12-15 22:43] dspeyer commented on #155
Yes, this is the result of the server being restarted.

[2020-12-15 22:43] dspeyer commented on #149
Done

[2020-12-15 22:43] #149 closed, assigned to dspeyer

[2020-12-15 23:17] dspeyer commented on #138
Fixed

[2020-12-15 23:17] #138 closed, assigned to taymonbeal

[2020-12-15 23:56] taymonbeal commented on #147
Fixed by 4470e0efafb32988ac6e9108325e94c5d21ea1a4.

[2020-12-15 23:56] #147 closed, assigned to dspeyer

[2020-12-15 23:56] #151 closed, assigned to dspeyer

[2020-12-16 00:00] taymonbeal commented on #24
This has been implemented.

[2020-12-16 00:00] #24 closed, assigned to dspeyer

[2020-12-16 00:00] taymonbeal opened #156 "Persist data from welcome flow to facilitate zero-click refresh"

[2020-12-16 00:03] taymonbeal opened #157 "Firefox users sometimes don't get any audio data from bucket brigade"
Blocked by: gwillen/solstice-audio-test#105

[2020-12-16 00:10] gwillen opened #158 "Bucket Brigade crash probably when SingerClient is created too early? (Not sure if already fixed.)"
Creating this for https://sentry.io/organizations/secular-solstice/issues/2093019069 .

I don't know whether this exists or is fixed in current ritualEngine, and I don't know if it's seen frequently at all, but it looks like "Cannot read property 'port' of null" in any of a number of functions in bucket brigade code.

If we see this again we should figure out how it's happening, but it's conceivab

[2020-12-16 00:18] taymonbeal opened #159 "Explicitly say "Loading..." when loading camera in onboarding screen"
So that users don't get confused about what's going on.

[2020-12-16 00:21] taymonbeal opened #160 "Onboarding flow doesn't realize that it can't get the camera"
This is while I have Zoom open (which is expected to make the camera not available).

![Screenshot 2020-12-15 192053](https://user-images.githubusercontent.com/1991427/102288535-b1320400-3f0a-11eb-956b-f1ae3a0f9709.png)

[2020-12-16 00:26] taymonbeal opened #161 "Unclosed things in ritualEngine server"
https://sentry.io/share/issue/11fac7e10b50473c957cb9e8d590168a/
https://sentry.io/share/issue/3d4e69609803488db1625b36fb53f446/

[2020-12-16 00:36] taymonbeal commented on #47
For the moment I can't trigger this so I'm just gonna hope it's fixed. Might hammer it more later.

[2020-12-16 00:36] #47 closed, assigned to taymonbeal

[2020-12-16 00:36] taymonbeal commented on #139
What did we decide to do about this?

[2020-12-16 00:37] taymonbeal commented on #145
Where'd we leave this?

[2020-12-16 00:38] taymonbeal commented on #130
Current plan IIUC is putting this among the bottom-bar buttons.

[2020-12-16 00:39] taymonbeal commented on #78
Not high enough priority.

[2020-12-16 00:39] #78 closed, assigned to dspeyer

[2020-12-16 00:41] taymonbeal commented on #67
Did we do this? If so, how are we doing browser detection? I impersonated an iPhone locally in Chrome and didn't get yelled at.

[2020-12-16 00:41] taymonbeal commented on #104
Asking user for help reproing

[2020-12-16 00:42] taymonbeal commented on #74
@dspeyer, when you have a spare moment (lol) can you check whether you can still repro this? If not, let's close.

[2020-12-16 00:43] taymonbeal commented on #44
Fixed.

[2020-12-16 00:43] #44 closed, assigned to nobody

[2020-12-16 00:44] taymonbeal commented on #36
Not high enough priority.

[2020-12-16 00:44] #36 closed, assigned to taymonbeal

[2020-12-16 00:44] taymonbeal commented on #114
Not high enough priority if even still a thing at all.

[2020-12-16 00:44] #114 closed, assigned to Raemon

[2020-12-16 00:47] taymonbeal commented on #140
I guess this is good enough.

[2020-12-16 00:47] #140 closed, assigned to Raemon, dspeyer

[2020-12-16 00:47] taymonbeal commented on #155
Not going to worry about this for Solstice.

[2020-12-16 00:47] #155 closed, assigned to taymonbeal

[2020-12-16 01:27] Raemon commented on #67
Right now I made it say on the front slide "please use chrome." I'll make
it also say "please use desktop"

On Tue, Dec 15, 2020 at 4:41 PM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-16 02:28] gwillen commented on #161
I assume these are just supposed to be ignored but @dspeyer is presumably the expert.

[2020-12-16 07:57] taymonbeal opened #164 "Add loading indicator to "Your video feed looks like this...""
Currently looks broken until the thing loads.

[2020-12-16 08:26] Raemon opened #165 "Detecting headphones?"
I'm actually pretty worried about people without headphones ending up in earlier buckets, and having the backing audio get reverberated a bunch. Can we automatically detect this and force them into the last bucket?

@gwillen pinging you since maybe this should live in bucket brigade, or you might otherwise have thoughts.

(this concern prompted by me playing around with the new bucket-choosing UI)

[2020-12-16 20:27] Raemon commented on #165
(this is more relevant now that we're letting people change their bucket mid-song)

[2020-12-16 22:06] gwillen commented on #165
I don't know of any way to detect (wired) headphones other than to ask the user. We may want to do that.

[2020-12-16 23:39] Raemon commented on #139
There needs to be some kind of timing event that mutes everyone at the start of the event, and unmutes them at a specific later time.

[2020-12-16 23:39] Raemon commented on #139
I'm not sure enough about the implementation details to specify further. But can chat through it if you have more specific questions and are up for giving a go at it.

[2020-12-17 02:16] Raemon opened #168 "random issue"
![image](https://user-images.githubusercontent.com/3246710/102434984-b22a6a80-3fca-11eb-931c-6e3df9455f76.png)

status?clientId=-rtG17fztkApmpRXFlPjqGjd0Z_5RKV8n_dvdZlRhes&have=1

[2020-12-17 02:23] Raemon opened #169 "Audio and video cut out during bucket singing"
Jeff thinks maybe wifi failure related

![image](https://user-images.githubusercontent.com/3246710/102435094-e2720900-3fca-11eb-98b1-d6891670d5c7.png)

![image](https://user-images.githubusercontent.com/3246710/102435081-dab26480-3fca-11eb-9e06-f917351a782b.png)

[2020-12-17 02:44] gwillen commented on #169
I think it's reasonable to suspect that this is due to wifi cutting out but it's a bit tricky to be sure.

[2020-12-17 06:37] taymonbeal opened #171 "Video doesn't start properly if you join bucket brigade partway through"
I think this is because we miss the backingTrackStart event. We need a way to know that that's happened so we can start playing.

Blocked by: gwillen/solstice-audio-test#111

[2020-12-17 06:39] dspeyer commented on #171
We *had* a thing where if you connect after events have gone by, they all
fire at once.  Did that get dropped in a shuffle?

On Thu, Dec 17, 2020 at 1:37 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-17 06:45] taymonbeal opened #172 "Remember where videos were in case of refresh"

[2020-12-17 07:03] taymonbeal commented on #38
Fixed in #170.

[2020-12-17 07:03] taymonbeal commented on #38
Actually, wait, still need control to mute webcam.

[2020-12-17 07:03] taymonbeal commented on #39
Fixed in #170.

[2020-12-17 07:03] #39 closed, assigned to taymonbeal

[2020-12-17 07:23] taymonbeal opened #175 "Observer mode"

[2020-12-17 07:29] taymonbeal commented on #158
I'm just going to hope this is already fixed since we haven't seen it recently.

[2020-12-17 07:29] #158 closed, assigned to nobody

[2020-12-17 07:32] taymonbeal commented on #165
Stack Overflow suggests `device.label.toLowerCase().includes('head')` as a cheap heuristic.

[2020-12-17 07:34] #172 closed, assigned to taymonbeal

[2020-12-17 07:37] taymonbeal commented on #165
The trickier question is, do we want to handle the case where someone plugs or unplugs headphones partway through? That would screw up calibration, I think, so in principle should be handled, and it's straightforward to detect, but idk how much work it is to kick someone out and make them recalibrate in that case.

[2020-12-17 07:38] taymonbeal commented on #169
#173 should help. Not much else we can do.

[2020-12-17 07:38] #169 closed, assigned to nobody

[2020-12-17 07:42] taymonbeal commented on #168
This is probably fixed by #173.

[2020-12-17 07:42] #168 closed, assigned to nobody

[2020-12-17 07:43] Raemon commented on #130
A slight nice-to-have is being able the give the tech support button an additional css class during the opening slide that makes it bigger. But, this is fairly low priority.

[2020-12-17 07:46] dspeyer commented on #165
My audiooutputdevice has no label...  And how could it?  My speakers and my
headphones use the same 3mm analog jack -- are you saying there's a
metadata protocol somewhere in there?

On Thu, Dec 17, 2020 at 2:43 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-17 07:47] #145 closed, assigned to gwillen

[2020-12-17 07:49] taymonbeal commented on #157
We're giving up on Firefox.

[2020-12-17 07:49] #157 closed, assigned to nobody

[2020-12-17 07:50] taymonbeal commented on #156
I think this is done now.

[2020-12-17 07:50] #156 closed, assigned to nobody

[2020-12-17 08:07] taymonbeal commented on #171
Seems to work now. I had a failure at one point but am going to hope it was the result of another bug.

[2020-12-17 08:07] #171 closed, assigned to nobody

[2020-12-17 08:09] dspeyer commented on #161
Do we know what's issuing this error message or what it means?

[2020-12-17 08:52] taymonbeal opened #176 "Cannot read property 'srcObject' of undefined"
https://sentry.io/share/issue/c91a38ac393a4e83af48058b79ed1b1c/

[2020-12-17 09:11] taymonbeal commented on #165
There is indeed a metadata protocol, but also, it is a heuristic, and if you speakers and headphones are both dumb analog devices then it will indeed not be possible to differentiate between them.

[2020-12-17 09:14] Raemon commented on #143
clarified enough for now.

[2020-12-17 09:14] #143 closed, assigned to dspeyer

[2020-12-17 09:14] Raemon commented on #175
giving up on this

[2020-12-17 09:14] #175 closed, assigned to dspeyer

[2020-12-17 19:09] dspeyer commented on #176
Any hints or guesses on repro steps?

On Thu, Dec 17, 2020 at 3:52 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-17 19:46] taymonbeal commented on #176
I had a bucket-singing video open with Ray when I ran into this.

[2020-12-17 21:32] #139 closed, assigned to taymonbeal

[2020-12-17 22:06] dspeyer commented on #160
Fixed I think.  Please test in windows with zoom.

[2020-12-17 22:13] dspeyer commented on #176
I've pushed an amelioration.  I'll come back to this and try to repro it later.

[2020-12-17 22:16] dspeyer commented on #164
Done

[2020-12-17 22:16] #164 closed, assigned to taymonbeal

[2020-12-17 22:18] dspeyer commented on #159
Is this the same as https://github.com/dspeyer/ritualEngine/issues/164 ?  If so, done.

[2020-12-17 22:18] #159 closed, assigned to taymonbeal

[2020-12-17 22:24] Raemon opened #178 ""Forget it; I'll be uncalibrated" button doesn't work"
When I click this button on this screen, it consistently doesn't work:

<img width="1074" alt="image" src="https://user-images.githubusercontent.com/3246710/102550816-5536bf00-4073-11eb-9b94-e87ed16d97ed.png">

I get this:

BucketSinging.js:210 Uncaught (in promise) TypeError: Cannot read property 'success' of undefined
    at initContext (BucketSinging.js:210)
    at async Module.welcome (BucketS

[2020-12-17 22:29] Raemon opened #179 "Replace Intercom Button with Tech Support button"

[2020-12-17 22:34] Raemon opened #180 "Use Hacky Headphone Heuristics to prevent people from being assigned to any but the last bucket"
Based on the previous thread, I think we should probably do this. I think *probably* Taymon can do this but might need some help from Daniel.

This'd require changing the bucket-assignment function, as well as disabled the bucket-choosing-buttons.

[2020-12-17 22:41] Raemon opened #181 ""Forget my info" button should exist"
I think this actually might be best assigned to @gwillen

[2020-12-17 22:44] gwillen commented on #181
So, I provided a function called wipeSavedParameters() in lib.js, and all you have to do is call it. Given that, and given that I don't know anything about UI stuff, it might be easier for you to do it? But I can if you still prefer.

Glenn

[2020-12-17 22:47] Raemon commented on #181
I mostly don't have time to do it but if someone else can (maybe Taymon)
that'd be helpful.

On Thu, Dec 17, 2020 at 2:44 PM Glenn Willen <notifications@github.com>
wrote:

[2020-12-17 22:58] dspeyer commented on #178
Fixed

On Thu, Dec 17, 2020 at 5:26 PM Raemon <notifications@github.com> wrote:

[2020-12-17 23:43] #178 closed, assigned to dspeyer

[2020-12-17 23:45] #54 closed, assigned to taymonbeal

[2020-12-18 00:14] taymonbeal commented on #179
Duplicate of #130.

[2020-12-18 00:14] #179 closed, assigned to taymonbeal

[2020-12-18 01:56] taymonbeal opened #182 "Make metadata prettier for the benefit of non-administrators"

[2020-12-18 02:00] taymonbeal commented on #38
Update: Webcam muting kinda-sorta works, but it has bugs that I don't know how to fix. I think @dspeyer or somebody would have to take a look at my work.

https://github.com/dspeyer/ritualEngine/compare/master...taymonbeal:mute-webcam

[2020-12-18 02:10] taymonbeal commented on #160
Tried, but am getting https://sentry.io/share/issue/a83a6971aa194e57a1072a29c4253439/.

[2020-12-18 07:50] dspeyer commented on #28
Hang on.  This is something you're more qualified to handle.

On Thu, Dec 17, 2020 at 9:05 PM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-18 08:18] dspeyer commented on #181
This seems to have happened

[2020-12-18 08:18] #181 closed, assigned to taymonbeal

[2020-12-18 08:18] dspeyer commented on #176
Probably fixed.  Well, at least two scenarios that can cause this are fixed.

[2020-12-18 08:18] #176 closed, assigned to dspeyer

[2020-12-18 08:21] dspeyer commented on #160
Fixed some more

[2020-12-18 08:36] dspeyer commented on #135
Done

[2020-12-18 08:36] #135 closed, assigned to taymonbeal

[2020-12-18 08:37] dspeyer commented on #40
I think ?notwilio does what this intends

[2020-12-18 08:37] dspeyer commented on #20
Done (by decreasing nvideos) but not well tested

[2020-12-18 08:41] dspeyer commented on #38
Can you describe the bugs you've seen?

[2020-12-18 08:47] taymonbeal commented on #38
When somebody turns off their camera, they appear frozen to other people, instead of being replaced with the humanist icon like should happen. That's the biggest issue, I think.

[2020-12-18 08:56] taymonbeal opened #186 "Explicitly catch getUserMedia errors and handle them with some kind of useful error message"
This includes:
- The call to getUserMedia in lib.js
- The calls to Twilio.Video.createLocalVideoTrack and Twilio.Video.createLocalAudioTrack in avatars.js

These are likely to be problems with the user's setup, so we should inform them of this and provide some sort of reasonable fallback.

(I've definitely seen some OverconstrainedErrors at some point but not totally sure which call sites they cam

[2020-12-18 08:58] dspeyer commented on #130
Bottom button bar now has an extra class during welcome.  Moved tech support's oversizedness into the welcome-only css.  It's all css, so it should be easy to tweak further.

[2020-12-18 09:00] dspeyer commented on #38
That sounds like the correct behavior to me.  The cam-muted user is no
longer broadcasting, so they can do their secretive thing, but the sea of
faces is still a sea of faces.

On Fri, Dec 18, 2020 at 3:47 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-18 09:02] dspeyer commented on #186
The welcome case is caught.

The avatar case is not, but we make sure to test the webcam in welcome
(even if it's saved), so finding a problem at avatar-time is unlikely.

The lib.js case isn't used in the solstice script.  It's for
photocollage and login.

On Fri, Dec 18, 2020 at 3:57 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-18 09:06] dspeyer commented on #136
The window title is the ritual title, which I'm pretty sure is what we want for prod, even if testing gets a little ugly.

[2020-12-18 09:06] #136 closed, assigned to taymonbeal

[2020-12-18 09:06] #107 closed, assigned to dspeyer

[2020-12-18 09:07] #86 closed, assigned to Raemon

[2020-12-18 09:11] taymonbeal commented on #74
Hmm, I seem to have run into this just now.

[2020-12-18 09:13] dspeyer opened #187 "Saved calibration is brittle"
If your local storage contains a saved_calibration, but that saved_calibration does not contain a latency and input_gain, BucketSinging initialization fails badly.

I'm not sure how I got into this state, and it may have involved running old buggy code which is now fixed, but it would be nice if the saved calibration reader fell back on calibrating instead of spewing errors.

[2020-12-18 09:31] taymonbeal opened #188 "Decide whether clear-state button should refresh the page"

[2020-12-18 09:31] taymonbeal commented on #186
Sounds good enough for now.

[2020-12-18 09:31] #186 closed, assigned to dspeyer

[2020-12-18 09:37] taymonbeal commented on #160
Yay

[2020-12-18 09:37] #160 closed, assigned to dspeyer

[2020-12-18 09:42] #187 closed, assigned to nobody

[2020-12-18 09:45] taymonbeal commented on #74
Okay this was probably fixed by #190.

[2020-12-18 09:45] #74 closed, assigned to dspeyer

[2020-12-18 09:46] taymonbeal commented on #104
We've fixed a lot of stuff, so I'm going to hope that we've fixed this too.

[2020-12-18 09:46] #104 closed, assigned to taymonbeal

[2020-12-18 09:46] taymonbeal commented on #134
Not going to address this for Solstice.

[2020-12-18 09:46] #134 closed, assigned to Raemon, dspeyer

[2020-12-18 09:48] #130 closed, assigned to Raemon

[2020-12-18 09:48] taymonbeal commented on #161
It means that there's an `aiohttp.ClientSession` somewhere in the rE server that didn't get closed like is supposed to happen.

In any event, not going to deal with this for Solstice.

[2020-12-18 09:48] #161 closed, assigned to dspeyer

[2020-12-18 09:48] taymonbeal commented on #137
We've basically given up on access control.

[2020-12-18 09:48] #137 closed, assigned to taymonbeal

[2020-12-18 09:49] taymonbeal commented on #20
Is there anything we should do to test it?

[2020-12-18 09:50] dspeyer commented on #188
My feeling is it should.  Otherwise, understanding what it does requires
too much knowledge of our internals.

What's the case for not?

On Fri, Dec 18, 2020 at 4:31 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-18 09:52] dspeyer commented on #20
Gather a dozen singers to run a test, then stack burdens on clients and see
if they down-video correctly.  We should probably figure out something
about appropriate burdens.

I tried running five tabs and my computer got very slow, but it's not
really equivalent and it was hard to tell what was happening.

On Fri, Dec 18, 2020 at 4:49 AM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-18 09:52] taymonbeal commented on #38
Ray declined to rule on this, so decision 2-1 is that it is not the correct behavior. So we should figure out how to fix it.

[2020-12-18 11:25] taymonbeal opened #194 "Redirect www.secularsolstice2020.org to secularsolstice2020.org"
Users are likely to wind up here by accident.

Instructions: https://aws.amazon.com/premiumsupport/knowledge-center/redirect-domain-route-53/

[2020-12-18 12:07] taymonbeal opened #195 "Figure out what to do about "Warning: timed out creating twilio local audio track""
@dspeyer, is this a thing that's just a one-shot occurrence? If so, would it make sense to use the error box that Ray had me create? It's kind of out there not integrated with any of our other messaging and not sure if we should do anything about that

[2020-12-18 12:57] taymonbeal opened #196 "Remember if people chose not to calibrate"
This way they can get back in immediately.

[2020-12-18 13:07] taymonbeal commented on #40
This is another one where I got a kinda-sorta solution working but it still seems to have some bugs that I'm not sure how to address.

https://github.com/dspeyer/ritualEngine/compare/master...taymonbeal:notwilio

[2020-12-18 13:37] taymonbeal opened #197 ""Click here to initialize singing" still seems to happen sometimes"
![Screenshot 2020-12-18 083611](https://user-images.githubusercontent.com/1991427/102620570-31738780-410c-11eb-89dc-6c2cc381db29.png)

[2020-12-18 18:16] jeffkaufman opened #199 "secretId too small"
[code]

This hands enough of a risk of conflicts that I would feel safer if you increased it.

I'd recommend `Math.round(Math.random()*Number.MAX_SAFE_INTEGER)`.  This is under 2^64, which is what BB requires.

I would send a PR, but I'm not familiar enough with the ritual engine code to be sure this wouldn't break anything

[2020-12-18 20:37] #128 closed, assigned to taymonbeal

[2020-12-18 20:38] #67 closed, assigned to taymonbeal

[2020-12-18 20:57] dspeyer commented on #199
Are you sure javascript won't "helpfully" treat that as a float and deliver
it in scientific notation?  It's your protocol, but ISTR trouble with that
happening elsewhere.

On Fri, Dec 18, 2020 at 1:17 PM Jeff Kaufman <notifications@github.com>
wrote:

[2020-12-18 21:14] dspeyer commented on #195
What error box?

I'll grant the message isn't the most user friendly, but isn't the current setup that errors go to Sentry if that's configured, and are silently ignored otherwise?

[2020-12-18 21:21] dspeyer commented on #194
Umm... I don't think we can do this as pure DNS.  We use HOST headers for multiplexing at the nginx layer, and our https certs aren't wildcards.  Doesn't this mean we need 403s from nginx?  And a fresh cert for handling https://www.secularsolstice2020.org?

[2020-12-18 23:02] #38 closed, assigned to dspeyer

[2020-12-18 23:03] dspeyer commented on #38
Fixed.  The key on top of what you wrote was to watch for the disabled and enabled events on the track.  And to bust caches a lot.

[2020-12-18 23:54] dspeyer opened #202 "Micless + Sentry = Eternal Restart"
Bucket Brigade welcome uses a timeout to detect mic enumeration failure.  This is necessary because under some circumstances (I think involving locks) it can hang.  But it can also reject the promise, which gets ignored.  Under until-recently mode, this meant a little spam in the console log.  With local error handling, a big spurious "NotFoundError: Requested device not found" error.  And with Se

[2020-12-19 00:06] taymonbeal commented on #202
How should we distinguish between cases that break the page and cases that don't?

[2020-12-19 00:14] taymonbeal commented on #194
If we follow the above instructions, we will not be pointing the www A record at our nginx server. Instead, it will point to an S3 bucket that is configured to respond to all requests with a redirect. So no changes at all are needed in our server, only in Route 53 and S3.

The above instructions do not handle https://www.secularsolstice2020.org, but that can be fixed by adding a Cloudfront distrib

[2020-12-19 00:18] taymonbeal commented on #194
Alternatively, we could do this in nginx instead. (We don't need a wildcard cert, we just need one with two hostnames, Certbot should be able to handle that. It should only be a few lines of config; we already do something very similar to redirect HTTP to HTTPS. If you like you can just make the A record and then I can do the config.)

[2020-12-19 00:42] taymonbeal commented on #180
What I'm going to do is, if in the beginning setup we think they might not be wearing headphones, display messaging that encourages them to skip calibration (but allows them to calibrate if they want, because the heuristics can be wrong).

[2020-12-19 01:14] taymonbeal commented on #180
Decision was not to attempt this change this late; it's not quite sufficiently risk-free.

[2020-12-19 01:14] #180 closed, assigned to taymonbeal

[2020-12-19 01:15] taymonbeal commented on #165
Decision was not to attempt this change this late; it's not quite sufficiently risk-free.

[2020-12-19 01:15] #165 closed, assigned to gwillen, Raemon, dspeyer

[2020-12-19 01:19] taymonbeal commented on #40
This is done now.

[2020-12-19 01:21] #196 closed, assigned to taymonbeal

[2020-12-19 01:42] #150 closed, assigned to taymonbeal

[2020-12-19 01:51] taymonbeal opened #205 "Calibration screen wording tweaks"
If you want to be heard, not having headphones is bad but not a dealbreaker. Can we figure out how to message this?

[2020-12-19 01:58] dspeyer commented on #202
I was hoping you'd think of something on the sentry side...

This one scares me.  I did a bunch of dev on the assumption that excess exceptions were harmless.  And I think most of us were working with no way to notice them.

I'll try to go through with the fixed error handling and test all the scenarios involving mics and webcams.

As a minimal fallback, can we get a ?nosentry that sets errorhandl

[2020-12-19 02:02] dspeyer commented on #199
It's fundamentally BBS so I'll trust Jeff.  Done.

[2020-12-19 02:02] #199 closed, assigned to jeffkaufman, dspeyer

[2020-12-19 02:03] dspeyer commented on #197
"Sometimes" isn't very actionable.  Unless we see signs of this happening often, or of it happening under known circumstances, I propose ignoring it.

[2020-12-19 02:06] dspeyer commented on #195
Now I understand what error box.  While a similar design may be good (come to think of it, the design is pretty similar) this is definitely a different message.  Something like:
"Could not set up mic for lobby.  This will not effect BucketSinging or text chat."  Maybe in the bottom left, near the mute buttons?  And suppress it if they clicked "I guess no one will hear me".

[2020-12-19 02:07] taymonbeal opened #206 "Caption all the videos"
This requires each video to be final.

- [x] Necronomicon
- [x] Welcome to Solstice
- [x] Meditation on the Past
- [x] Meditation on the Present
- [x] The Virtues of Solstice
- [x] I Don't Know
- [x] Grief Comes In Many Forms
- [x] Orders of Magnitude/Moment of Darkness
- [ ] 500 Million
- [x] Keeping Your Eyes Open
- [x] Laura - Brighter Futures
- [x] Meditation on the Future
- [x] Closing

[2020-12-19 02:08] dspeyer commented on #194
I don't think it's likely enough to come up to justify the risks or effort at this hour.  Most people will be clicking links, and nobody copy-typing a url prepends www

[2020-12-19 02:09] dspeyer commented on #182
You mean the hover thing on the avatars?  I think the decision of what goes in that has to be Ray's.

Overall, I don't feel bad about leaking some tech details in a mostly unobtrusive form like that.

[2020-12-19 02:11] dspeyer commented on #152
You mean keep the same slottings and go straight from one to another?

I don't think this is worth the risks or effort at this point.

[2020-12-19 02:12] dspeyer commented on #28
This is definitely a thing we should do, but I don't think I'm the one who should do it.

[2020-12-19 02:13] dspeyer commented on #20
So apparently the code that's in doesn't work.

I can certainly fix the bugs that were discussed.  I'm not sure I can run a good test.

[2020-12-19 02:17] taymonbeal commented on #202
I know of no way in principle that we can know, given an exception that we didn't specifically plan for, whether it is safe to proceed through it or whether it is indicative that the state is unfixably messed up. I did float the idea yesterday of always just trying to keep going, and @gwillen did not think it was a good idea, so we rejected it. I'm sorry if I hadn't been sufficiently clear about t

[2020-12-19 02:21] taymonbeal opened #208 "Make lyrics and captions work properly in "500 Million""

[2020-12-19 03:09] taymonbeal commented on #197
Okay, we think it's a welcome problem, and that should become obvious in testing, so I guess that's good enough.

[2020-12-19 03:10] #194 closed, assigned to dspeyer

[2020-12-19 03:22] gwillen commented on #202
I am not an expert on Ritual Engine exceptions -- I would prefer that exceptions propagated outward from Bucket Brigade are treated as fatal and result in a page reload (or whatever), but if the Ritual Engine experts would prefer things just proceed on exception coming from rE, I have no objection to whatever your best judgement on this is.

[2020-12-19 03:22] taymonbeal opened #211 "Make better wording for error box"
Currently it's just "We're having some trouble. Maybe try switching to a better network connection?", which I half-assed. If we could figure out better words to explain what is going on and what the user should do, that would be good. (For reference, this box is displayed on connectivity failure and on audioLag.)

[2020-12-19 03:33] dspeyer commented on #202
It gets worse...

Here's one of the stack traces:
  force_permission_prompt @ app.js:43
  async function (async)
  force_permission_prompt @ app.js:41
  wait_for_mic_permissions @ app.js:54
  async function (async)
  wait_for_mic_permissions @ app.js:46
  MicEnumerator @ app.js:66
  initContext @ BucketSinging.js:119

When initContext invokes wait_for_mic_permissions, there's a catch clause.
But w

[2020-12-19 03:45] gwillen commented on #202
I would hope that these would all be our fault -- Twilio shouldn't be throwing top-level exceptions, isn't stuff like Sentry reasonably common that people would be used to keeping this stuff clean?

But if nonfatal uncatchable toplevel exceptions are something we have to deal with regularly, I do see the argument for switching over to just swallowing unexpected exceptions. It's not great because i

[2020-12-19 03:48] gwillen commented on #202
As to wait_for_mic_permissions, I think there were originally awaits in there, but they got refactored out at some point. I'm happy to rework it so that it shouldn't allow exceptions to escape, or so that we just catch them and return null or something.

[2020-12-19 03:58] taymonbeal opened #212 "Remember if user clicked "I guess no one will hear me""
IIUC this is currently not remembered. We need it in global state for other reasons, so it would be good to persist, if we can.

[2020-12-19 04:00] taymonbeal commented on #195
Current work in progress at https://github.com/dspeyer/ritualEngine/compare/master...taymonbeal:twilio-audio-error. See blocking issue for what I'm waiting for to finish it.

[2020-12-19 04:01] taymonbeal commented on #188
@gwillen, did you have reason to think that it should not?

[2020-12-19 04:01] taymonbeal commented on #182
Yes, that is what I meant.

[2020-12-19 04:01] #152 closed, assigned to dspeyer

[2020-12-19 04:03] taymonbeal commented on #20
If we had robots, would they help run a good test? Because I still have robot-minutes available.

[2020-12-19 04:06] taymonbeal commented on #202
Twilio's APIs for opening WebRTC devices can throw. Therefore, calls to them should be surrounded by catch blocks or calls. I think we already audited all those sites and determined that they were okay, though. (There was one case where we just threw a fatal exception, but you told me that you considered it unlikely to come up in practice.)

I don't think Twilio should ever make top-level errors t

[2020-12-19 04:07] taymonbeal commented on #28
Closing this because it's never really done, it's just something we do as much of as we can.

[2020-12-19 04:07] #28 closed, assigned to gwillen, taymonbeal

[2020-12-19 04:10] #205 closed, assigned to gwillen

[2020-12-19 04:12] gwillen commented on #211
"""
The app is having some trouble. This can be due to network issues, or load on your computer. If you aren't hearing smooth sound, we suggest trying some of the following, and then refreshing the page if necessary:
- Close any other apps or browser tabs that you're not using
- Disable browser extensions (or switch to incognito mode)
- Use a wired network connection, or move to somewhere with str

[2020-12-19 04:20] taymonbeal opened #213 "Restyle the error box"
I attempted to design it to Ray's specs, but it came out looking pretty ugly. Someone with even a little more design sense than I have could probably make it look less ugly. CSS is under `#error`.

[2020-12-19 04:26] taymonbeal commented on #211
I don't really have an opinion on whether it's too much text, sorry.

"If you aren't hearing smooth sound"--note that this warning can be displayed during non-BB slides (because without a network connection you can't get stuff like slide advancements). Is there a way we could sensibly reword in light of this? If not I could see just using it as-is.

[2020-12-19 04:32] gwillen commented on #211
I was only asking about too much text insofar as I have no idea where we're displaying this or how we're styling it. So I wasn't sure how much room we have.

... also how _are_ we styling this? When I run locally I get a red box in the top-left corner overlapping the slide controls. (Ohhh, but only lead will have those, so maybe that's a good place for non-lead people, and lead people should suck

[2020-12-19 04:35] taymonbeal commented on #211
I created #213 to invite Daniel to restyle the error box, since when I tried to make it according to Ray's spec it came out kind of ugly (because I'm not that good at this). If you feel qualified to take over #213 from Daniel I'm sure he'd appreciate it.

The slide controls are on top of the box, or at least they should be. If they're not that's a bug that I need to fix.

This is good wording for

[2020-12-19 04:52] gwillen commented on #188
I thought it would be surprising and disruptive to the user to have the page refreshed by an innocuous-looking button that doesn't say 'refresh' on it, and which you wouldn't suspect would do that (without too much knowledge of our internals.)

As a compromise: When the user clicks it, can I put up an alert() that suggests refreshing, but doesn't actually do it?

[2020-12-19 04:53] gwillen commented on #202
I will fix the mic permissions stuff, without regard to the Larger Questions for the moment, so that it absorbs errors internally and neither throws them nor hits the toplevel handler.

[2020-12-19 04:56] #212 closed, assigned to gwillen

[2020-12-19 05:03] taymonbeal commented on #188
Can we change the button label to "Delete saved settings and reload" or "Forget me and reload"? I agree that it should say that it reloads, but I'm worried it will leave people in a confusing state if it does not reload.

[2020-12-19 05:15] #195 closed, assigned to nobody

[2020-12-19 06:04] Raemon opened #217 "Error while navigating away from a slide"
Error: Bad Request
    at Module.wrappedFetch (http://localhost:8080/lib.js:277:15)

[2020-12-19 06:04] #217 closed, assigned to nobody

[2020-12-19 06:23] #208 closed, assigned to taymonbeal

[2020-12-19 06:35] gwillen commented on #188
Per conversation on facebook messenger, I'm fine with changing it to something like "Delete saved settings and reload". Let me know if you want me to do it, otherwise I'm assuming you will.

[2020-12-19 06:40] taymonbeal commented on #40
I realized that I unintentionally marked this as done when it's not.

@dspeyer, do you think you can turn my partial solution into something that works without too much risk? If not, then we should declare this infeasible to fix in time.

[2020-12-19 06:42] dspeyer commented on #20
I fixed the known bugs.

If the robots can send both video and audio, that should get us most of the way there.  Then you just need a way to trigger lag locally (open facebook in 10 other tabs?)

[2020-12-19 06:55] taymonbeal commented on #20
The robots can absolutely send both video and audio. Let me know in chat when you're available to run the test together?

[2020-12-19 06:59] #211 closed, assigned to taymonbeal

[2020-12-19 07:44] taymonbeal opened #220 "On first entry, if you don't grant mic permission quickly, it stops trying and goes to "I guess no one will hear me""
We don't actually want a fast timeout here since the user needs to click something.

Use an incognito window to repro.

[2020-12-19 07:51] taymonbeal opened #221 "My camera's on but I'm not uploading video or pictures of myself"
![Screenshot 2020-12-19 025100](https://user-images.githubusercontent.com/1991427/102684272-1ef95c80-41a5-11eb-922e-de32e9fe4723.png)

[2020-12-19 08:15] taymonbeal opened #222 "Nobody can hear me and I can hear nobody"
This is happening right now.

[2020-12-19 08:42] taymonbeal commented on #40
At this point, we cannot justify the risk of such a complex change, even to provide a failsafe against other bugs.

[2020-12-19 08:42] #40 closed, assigned to dspeyer

[2020-12-19 08:47] dspeyer commented on #20
This worked, or at least did not fail horribly

[2020-12-19 08:47] #20 closed, assigned to dspeyer

[2020-12-19 08:50] dspeyer commented on #222
Went away on refresh.  We never formed a hypothesis as to what went wrong.

[2020-12-19 08:50] #222 closed, assigned to gwillen, taymonbeal, dspeyer

[2020-12-19 08:51] dspeyer commented on #221
Went away on refresh.  We never formed a hypothesis as to what went wrong.

[2020-12-19 08:51] #221 closed, assigned to taymonbeal, dspeyer

[2020-12-19 09:00] dspeyer commented on #213
done

[2020-12-19 09:00] #213 closed, assigned to dspeyer

[2020-12-19 09:02] #202 closed, assigned to taymonbeal

[2020-12-19 09:02] #220 closed, assigned to taymonbeal

[2020-12-19 09:03] #188 closed, assigned to taymonbeal

[2020-12-19 09:09] dspeyer opened #223 "Thoroughly test welcome flow with every convoluted mix of setup we can find"
We've changed a lot of code in a little time, and need to make sure that no/one/many/blocked/allowed/locked cameras and mics work ok.

(Well, not multiple mics.  We're not trying to support that.)

[2020-12-19 09:09] dspeyer opened #224 "Disconnecting/Reconnecting BBS can swallow marks (e.g. for lyrics)"
To quote Glenn on the FB group:

ok, the lyrics thing is new because of pre-canned lyric timings
or rather they exposed it
the problem is that once we've set timers to fire events, they live in the sound buffer, but reconnection clears it
I will think about how best to deal with this, there are a couple of layers I could do that at

[2020-12-19 09:10] gwillen opened #225 "Bucket Brigade drops future events on reconnection, impacting pre-canned lyrics"
see https://github.com/gwillen/solstice-audio-test/issues/123

I am thinking about what the right way to handle this at an architectural level is, ideally making sure that events fire better-late-than-never.

[2020-12-19 09:10] taymonbeal commented on #225
Duplicate of #224.

[2020-12-19 09:10] #225 closed, assigned to nobody

[2020-12-19 09:11] gwillen commented on #224
See https://github.com/gwillen/solstice-audio-test/issues/123 .

[2020-12-19 09:14] dspeyer opened #226 "Get all the lyric timings"
If someone besides me wants to work on this before I wake up.

Find what's missing with:

for i in `grep BucketSing [0-9]*.json | sed 's/:.*//'`; do grep Timings $i > /dev/null || (echo -n $i ; grep backing $i); done

Get the backing track

Run the slide, clicking in lyrics

Open js console

Find the last line that says Timings:

Put that array into the json as "lyricTimings"

Run it again and wat

[2020-12-19 11:30] gwillen commented on #224
See https://github.com/gwillen/solstice-audio-test/pull/124 for the fix.

It's a big change to a core part of the mark logic, so I would love for people to review it carefully (although frankly if it didn't work I expect it would blow up very quickly.)

[2020-12-19 20:05] dspeyer commented on #223
I tested all the ones *I* could think of and they worked fine.

(Except that one of the dialogs didn't fit, so I tweaked the size on that)

[2020-12-19 23:09] alexaltair commented on #226
Timings for slide 2 (necronomicon)

[code]

[2020-12-19 23:18] alexaltair commented on #226
Timings for slide 23 (Bitter Wind March)

[code]

[2020-12-19 23:26] gwillen commented on #226
Timings for slide 34 (Uplift): [5.83, 10.49, 15.131, 19.68, 25.611, 27.561, 32.281, 36.861, 41.581, 48.752, 49.591, 54.102, 58.691, 63.141, 70.472, 71.212, 76.432, 81.474, 86.212, 93.162, 93.692, 98.112, 102.542, 107.312, 114.173, 115.404, 121.655, 129.654]

Notes:
* I did an extra click after the last lyric, which appears to correctly dismiss it and leave all lyrics dimmed. If that doesn't work r

[2020-12-19 23:26] alexaltair commented on #226
Here's my attempt at timings for slide 28 (Here Comes the Sun) although the lyrics do not entirely match the audio
[code]

[2020-12-19 23:28] gwillen commented on #226
alex is going to do 37, then I'm going to add these to the json and test them

[2020-12-19 23:28] gwillen commented on #226
actually maybe 37 doesn't have lyrics yet?

[2020-12-19 23:40] alexaltair commented on #226
Timings for slide 37 (Five Billion Years) again some lyrics are different
[code]

[2020-12-20 00:07] alexaltair commented on #226
New slide 2 (Necronomicon) timings

[code]

[2020-12-21 05:41] gwillen opened #229 "Document setup process better for people who aren't us"
Probably start with this doc I put together (which covers both Ritual Engine and Bucket Brigade): https://docs.google.com/document/d/1jn8vplVEnAmVOV6cw5Sua9th-SYKxYv1kPzuPGKAwxA/edit#heading=h.ydq4eumb7nmp

[2020-12-21 05:43] gwillen commented on #224
Fixed.

[2020-12-21 05:43] #224 closed, assigned to gwillen

[2020-12-21 05:43] gwillen commented on #226
I believe this is done.

[2020-12-21 05:43] #226 closed, assigned to nobody

[2020-12-23 16:59] jeffkaufman opened #230 "Speech videos start at the beginning if you come in late"
If you join partway through a speech, the speech video still start at the beginning. Unfortunately, this means that at the end of the speech for everyone else your speech will just cut off wherever it happens to be. Better would be to start your speech at the appropriate offset one coming in late.

[2020-12-24 05:28] #206 closed, assigned to taymonbeal

[2020-12-24 23:31] #133 closed, assigned to Raemon

[2020-12-24 23:33] taymonbeal commented on #230
I guess the way to do this would be to send a periodic "this is how far along you should be" message from the server. Currently, all messages come from client requests. @dspeyer, do you have opinions on how this should work?

[2020-12-24 23:34] taymonbeal commented on #223
Any further testing that we should be doing?

[2020-12-24 23:35] taymonbeal commented on #182
Do we still want this now?

[2020-12-25 00:15] dspeyer commented on #230
Doesn't actually need to be periodic.  Just a "you are starting x seconds
late" at widget-load time.

On Thu, Dec 24, 2020 at 6:34 PM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-25 01:54] taymonbeal commented on #197
We never fixed this; it still happened to me in production.

[2020-12-25 02:05] taymonbeal opened #233 "Clarify distinction between last-bucket and no-bucket"
We should make sure to communicate to people that they'll be in the recording if they're in any bucket, including the last bucket, but not if they're in no bucket. We should also make sure that people are assigned to whichever one of those is appropriate.

(Are there any circumstances where we force anyone other than the leader into the last bucket, as opposed to no bucket? And do we want people w

[2020-12-25 02:05] taymonbeal opened #234 "More strongly indicate that refreshing is an option on initial mic connection"
Since most people will need to refresh in order to make it work. Maybe even add a refresh button?

[2020-12-25 02:13] taymonbeal commented on #230
Not happening this week.

[2020-12-25 02:51] Raemon commented on #182
I think getting rid of it is fine.

On Thu, Dec 24, 2020 at 3:35 PM Taymon A. Beal <notifications@github.com>
wrote:

[2020-12-25 03:12] Raemon commented on #182
But also don't think it hurt anything, fine to leave in, whichever feels
easiest.

On Thu, Dec 24, 2020 at 6:51 PM Raymond Arnold <raemon777@gmail.com> wrote:

[2020-12-25 05:36] dspeyer commented on #223
I just tried denying mic permissions and got stuck with an error.  I think this used to work.  Did someone change something?

[2020-12-25 05:37] dspeyer commented on #230
Fixed

[2020-12-25 05:37] #230 closed, assigned to nobody

[2020-12-25 12:41] taymonbeal commented on #223
Not as far as I know.

[2020-12-25 21:53] gwillen commented on #233
People who don't calibrate will show as being in the last bucket on their own screen, and they will hear the "last bucket" position, but they are effectively in "no bucket" because they are permanently muted.

Whether people without headphones end up there is entirely down to whether they calibrate, or follow the instructions and click "don't let anybody hear me." So I think it's pretty reasonable

[2020-12-26 00:23] taymonbeal commented on #223
Nope not doing any more of this.

[2020-12-26 00:23] #223 closed, assigned to gwillen, taymonbeal, dspeyer

[2020-12-26 07:25] #234 closed, assigned to nobody

[2020-12-26 07:25] #233 closed, assigned to nobody